{
  "__inherits": "staxel/docks/dockBase.config",
  "prefetchTileState": true,
  "tileStateKind": "staxel.tileState.ShippingDock",
  "customRendererVoxels": "mods/Xable's Market/selling/SellStall2.qb",
  "animation": "staxel.boneAnimation.ShippingDock",
  "interactActionTrigger": "staxel.entityAction.OpenShippingCrateAction",
  "dockDefinition": "xable.market.SellStall.dock"
}
